## 3. 数据分析
### 3.1 数据的导入导出

In [123]:
import numpy as np
import pandas as pd

# df = pd.DataFrame(
#     {
#         'name': ['n1', 'n2', 'n3', 'n4', 'n5'],
#         'salary': [100, 200, 150, 200, 300],
#         'age': [30, 20, 25, 18, 30]
#     },
#     index=[101, 102, 103, 104, 105])
# df = pd.read_csv('../file/old.csv')  # 读取csv
# df = pd.read_json('../file/old.json')  # 读取json
# print(df)
# df.to_csv('../file/new.csv')  # 写入csv
# df.to_json('../file/new.json')  # 写入json

### 3.2 缺失值处理

In [124]:
s = pd.Series([12, 25, np.nan, None, pd.NA])
df = pd.DataFrame([[1, pd.NA, 2], [2, 3, 5], [None, 4, 8]],
                  columns=['A', 'B', 'C'])
print(s)
print(df)

# 查看缺失值
print(s.isna())
print(s.isnull())
print(s.isna().sum())
print('-' * 20)
print(df.isna())
print(df.isnull())
print(df.isna().sum())  # 按列统计
print(df.isna().sum(axis=1))  # 按行统计

0      12
1      25
2     NaN
3    None
4    <NA>
dtype: object
     A     B  C
0  1.0  <NA>  2
1  2.0     3  5
2  NaN     4  8
0    False
1    False
2     True
3     True
4     True
dtype: bool
0    False
1    False
2     True
3     True
4     True
dtype: bool
3
--------------------
       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
A    1
B    1
C    0
dtype: int64
0    1
1    0
2    1
dtype: int64

In [125]:
# 剔除缺失值
print(s.dropna())
print(df)
print("-" * 15)
print(df.dropna())  # 剔除整行数据
print(df.dropna(how='all'))  # 若所有值都为缺失值，则删除该行数据
print(df.dropna(thresh=2))  # 缺失值小于阈值，则删除该行数据
print(df.dropna(axis=1))  # 剔除整列数据
print(df.dropna(subset=['A']))  # 指定列有缺失值，则删除对应行

0    12
1    25
dtype: object
     A     B  C
0  1.0  <NA>  2
1  2.0     3  5
2  NaN     4  8
---------------
     A  B  C
1  2.0  3  5
     A     B  C
0  1.0  <NA>  2
1  2.0     3  5
2  NaN     4  8
     A     B  C
0  1.0  <NA>  2
1  2.0     3  5
2  NaN     4  8
   C
0  2
1  5
2  8
     A     B  C
0  1.0  <NA>  2
1  2.0     3  5

In [126]:
# 填充缺失值
print(df.fillna({'A': 66, 'B': 77}))  # 通过字典填充
print(df.fillna(df.C.mean()))  # 使用指定值填充
print(df.ffill())  # 使用前面相邻值填充
print(df.bfill())  # 使用后面相邻值填充

      A   B  C
0   1.0  77  2
1   2.0   3  5
2  66.0   4  8
     A    B  C
0  1.0  5.0  2
1  2.0  3.0  5
2  5.0  4.0  8
     A     B  C
0  1.0  <NA>  2
1  2.0     3  5
2  2.0     4  8
     A  B  C
0  1.0  3  2
1  2.0  3  5
2  NaN  4  8

In [127]:
# 处理重复数据
data = {
    'name': ['Alice', 'Alice', 'Bob', 'Alice', 'Jack', 'Bob'],
    'age': [26, 25, 30, 25, 35, 30],
    'city': ['NY', 'NY', 'LA', 'NY', 'SF', 'LA']
}
df = pd.DataFrame(data)
print(df)
print(df.duplicated())  # 整行数据是否重复
print(df.drop_duplicates(subset=['name']))  # 指定列去重
print(df.drop_duplicates(subset=['name'], keep='last'))  # 指定列去重并保留后面的值

    name  age city
0  Alice   26   NY
1  Alice   25   NY
2    Bob   30   LA
3  Alice   25   NY
4   Jack   35   SF
5    Bob   30   LA
0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool
    name  age city
0  Alice   26   NY
2    Bob   30   LA
4   Jack   35   SF
    name  age city
3  Alice   25   NY
4   Jack   35   SF
5    Bob   30   LA

### 3.3 数据类型转换

In [128]:
data = {
    'name': ['n1', 'n2', 'n3'],
    'age': [30, 20, 18],
    'gender': ["male", 'female', 'male']
}
df = pd.DataFrame(data)
print(df)
print(df.dtypes)
df.age = df.age.astype('int16')  # 类型转换
print(df.age)
df.gender = df.gender.astype('category')  # 类别类型
print(df.gender)
print("-" * 15)
df.is_male = df.gender.map({'female': False, 'male': True})  # 映射为指定值
print(df.is_male)

  name  age  gender
0   n1   30    male
1   n2   20  female
2   n3   18    male
name      object
age        int64
gender    object
dtype: object
0    30
1    20
2    18
Name: age, dtype: int16
0      male
1    female
2      male
Name: gender, dtype: category
Categories (2, object): ['female', 'male']
---------------
0     True
1    False
2     True
Name: gender, dtype: category
Categories (2, object): [False, True]

D:\anaconda\anaconda3\envs\py_3.7\lib\site-packages\ipykernel_launcher.py:14: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

### 3.4 数据变形

In [129]:
data = {
    'id': [1, 2],
    'name': ['Alice', 'Bob'],
    'math': [90, 85],
    'english': [88, 92],
    'science': [95, 89]
}
df = pd.DataFrame(data)
print(df)
print(df.T)

# 宽表转长表
# id_vars为保留的列(可多个)
# 新增了两个列(variable和value)
# 把其余的列(id_vars以外)的所有值全部按照<列名 —— 值>的方式，一行一行的纵向堆起来
# variable为列名，value为值
melted_df = pd.melt(
    df,
    id_vars=['id', 'name'],
    var_name='subject',
    value_name='grade')
print(melted_df.sort_values('name'))
print("-" * 15)
# 获取原始DataFrame
print(melted_df.pivot(
    index=['id', 'name'],
    columns='subject',
    values='grade')
)

   id   name  math  english  science
0   1  Alice    90       88       95
1   2    Bob    85       92       89
             0    1
id           1    2
name     Alice  Bob
math        90   85
english     88   92
science     95   89
   id   name  subject  grade
0   1  Alice     math     90
2   1  Alice  english     88
4   1  Alice  science     95
1   2    Bob     math     85
3   2    Bob  english     92
5   2    Bob  science     89
---------------
subject   english  math  science
id name
1  Alice       88    90       95
2  Bob         92    85       89

In [130]:
data = {
    'id': [1, 2],
    'name': ['Alice Newman', 'Bob James'],
    'math': [90, 85],
    'english': [88, 92],
    'science': [95, 89]
}
df = pd.DataFrame(data)
print(df)
# 列值分割
df[['first_name', 'last_name']] = df.name.str.split(' ', expand=True)  # str为Series的字符串选择器
df.info()
print(df)

   id          name  math  english  science
0   1  Alice Newman    90       88       95
1   2     Bob James    85       92       89
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2 non-null      int64
 1   name        2 non-null      object
 2   math        2 non-null      int64
 3   english     2 non-null      int64
 4   science     2 non-null      int64
 5   first_name  2 non-null      object
 6   last_name   2 non-null      object
dtypes: int64(4), object(3)
memory usage: 240.0+ bytes
   id          name  math  english  science first_name last_name
0   1  Alice Newman    90       88       95      Alice    Newman
1   2     Bob James    85       92       89        Bob     James

### 3.5 数据分箱

In [131]:
data = {
    'id': [101, 102, 103, 104, 105, 106],
    'name': ['n1', 'n2', 'n3', 'n4', 'n5', 'n6'],
    'salary': [10000, 11000, 8000, 6000, 4000, 10000]
}
df = pd.DataFrame(data)
print(df)
df1 = df[['id', 'salary']]
print(df1)
# 分成n段区间
print(pd.cut(df1['salary'], bins=3))
# 按指定数值分区
print(pd.cut(df1['salary'], bins=[3000, 6000, 9000, 12000]))
# 指定区间名称
print(pd.cut(
    df1['salary'],
    bins=[3000, 6000, 9000, 12000],
    labels=['low', 'median', 'high']
))
# 按分位数分区
print(pd.qcut(df1['salary'], 4).value_counts())

    id name  salary
0  101   n1   10000
1  102   n2   11000
2  103   n3    8000
3  104   n4    6000
4  105   n5    4000
5  106   n6   10000
    id  salary
0  101   10000
1  102   11000
2  103    8000
3  104    6000
4  105    4000
5  106   10000
0     (8666.667, 11000.0]
1     (8666.667, 11000.0]
2    (6333.333, 8666.667]
3      (3993.0, 6333.333]
4      (3993.0, 6333.333]
5     (8666.667, 11000.0]
Name: salary, dtype: category
Categories (3, interval[float64, right]): [(3993.0, 6333.333] < (6333.333, 8666.667] < (8666.667, 11000.0]]
0    (9000, 12000]
1    (9000, 12000]
2     (6000, 9000]
3     (3000, 6000]
4     (3000, 6000]
5    (9000, 12000]
Name: salary, dtype: category
Categories (3, interval[int64, right]): [(3000, 6000] < (6000, 9000] < (9000, 12000]]
0      high
1      high
2    median
3       low
4       low
5      high
Name: salary, dtype: category
Categories (3, object): ['low' < 'median' < 'high']
(3999.999, 6500.0]    2
(9000.0, 10000.0]     2
(6500.0, 9000.0]      1
(10000.0, 11000.0]    1
Name: salary, dtype: int64

In [132]:
df1['level'] = pd.cut(
    df1['salary'],
    bins=[3000, 6000, 9000, 12000],
    labels=['low', 'median', 'high']
)
print(df1)
print(df1.level.dtype)  # 分箱统计值为类别类型

    id  salary   level
0  101   10000    high
1  102   11000    high
2  103    8000  median
3  104    6000     low
4  105    4000     low
5  106   10000    high
category

In [133]:
print(df)
# 将指定列设置为索引，返回新DataFrame
print(df.set_index('id'))
# 修改原DataFrame
df.set_index('id', inplace=True)
print(df)
# 还原DataFrame
df.reset_index(inplace=True)
print(df)
# 修改索引、列名
df.rename(index={0: 10}, columns={"id": 'uid', "name": "uname"}, inplace=True)
print(df)

df.index = [0, 1, 2, 3, 4, 5]
df.columns = ["id", "name", "salary"]
print(df)

    id name  salary
0  101   n1   10000
1  102   n2   11000
2  103   n3    8000
3  104   n4    6000
4  105   n5    4000
5  106   n6   10000
    name  salary
id
101   n1   10000
102   n2   11000
103   n3    8000
104   n4    6000
105   n5    4000
106   n6   10000
    name  salary
id
101   n1   10000
102   n2   11000
103   n3    8000
104   n4    6000
105   n5    4000
106   n6   10000
    id name  salary
0  101   n1   10000
1  102   n2   11000
2  103   n3    8000
3  104   n4    6000
4  105   n5    4000
5  106   n6   10000
    uid uname  salary
10  101    n1   10000
1   102    n2   11000
2   103    n3    8000
3   104    n4    6000
4   105    n5    4000
5   106    n6   10000
    id name  salary
0  101   n1   10000
1  102   n2   11000
2  103   n3    8000
3  104   n4    6000
4  105   n5    4000
5  106   n6   10000

### 3.6 时间数据处理

In [134]:
# Timestamp类型
ts = pd.Timestamp('2025-09-03 08:00:00')
print(ts, type(ts))
print('year:', ts.year)
print('month:', ts.month)
print('day:', ts.day)
print('time:', ts.hour, ts.minute, ts.second)
print('is_leap_year:', ts.is_leap_year)
print('weekday:', ts.day_name())
# 转换为指定period
print('time in days:', ts.to_period('D'))
print('time in quarter:', ts.to_period('Q'))
print('time in year:', ts.to_period('Y'))
print('time in week:', ts.to_period('W'))

2025-09-03 08:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
year: 2025
month: 9
day: 3
time: 8 0 0
is_leap_year: False
weekday: Wednesday
time in days: 2025-09-03
time in quarter: 2025Q3
time in year: 2025
time in week: 2025-09-01/2025-09-07

In [135]:
# 字符串转日期类型
df = pd.read_csv('../file/time.csv')
df['date'] = pd.to_datetime(df['time'])
print(df)
print(df.date)
df['week'] = df['date'].dt.day_name()  # dt为Series时间选择器
print(df)

   Unnamed: 0 name      time                          date
0           0   n1  20250901 1970-01-01 00:00:00.020250901
1           1   n2  20250902 1970-01-01 00:00:00.020250902
2           2   n3  20250903 1970-01-01 00:00:00.020250903
0   1970-01-01 00:00:00.020250901
1   1970-01-01 00:00:00.020250902
2   1970-01-01 00:00:00.020250903
Name: date, dtype: datetime64[ns]
   Unnamed: 0 name      time                          date      week
0           0   n1  20250901 1970-01-01 00:00:00.020250901  Thursday
1           1   n2  20250902 1970-01-01 00:00:00.020250902  Thursday
2           2   n3  20250903 1970-01-01 00:00:00.020250903  Thursday

In [137]:
# 读取时将知道你个列转换为时间类型
df = pd.read_csv('../file/time.csv', parse_dates=['time'])
print(df)
print(df.info())

   Unnamed: 0 name       time
0           0   n1 2025-09-01
1           1   n2 2025-09-02
2           2   n3 2025-09-03
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3 non-null      int64
 1   name        3 non-null      object
 2   time        3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 200.0+ bytes
None

In [141]:
# 时间间隔
df['delta'] = df['time'] - df['time'][0]
print(df)
df.set_index('delta', inplace=True)
print(df.loc["1 days":"2 days"])

        Unnamed: 0 name       time  delta
delta
0 days           0   n1 2025-09-01 0 days
1 days           1   n2 2025-09-02 1 days
2 days           2   n3 2025-09-03 2 days
        Unnamed: 0 name       time
delta
1 days           1   n2 2025-09-02
2 days           2   n3 2025-09-03

### 3.7 分组聚合

In [169]:
# groupby('分组字段')['聚合字段'].聚合方法()
data = {
    'id': [101, 102, 103, 104, 105, 106],
    'name': ['n1', 'n2', 'n3', 'n4', 'n5', 'n6'],
    'salary': [10000, 4000, 7000, 11000, 9000, 5500],
    'd_id': [11, 11, 12, 12, 11, 12]
}
df = pd.DataFrame(data)
df.dropna(subset=['d_id'], inplace=True)
# print(df.d_id.dtype)
# df.d_id = df.d_id.astype('int32')
print(df)
print(df.groupby('d_id').groups)  # 查看分组情况
print('-' * 15)
print(df.groupby('d_id').get_group(11))  # 查看具体分组的数据
print('-' * 15)
# 分组聚合
print(df.groupby('d_id')['salary'].sum())
print('-' * 15)
print(df.groupby('d_id')[['salary']].mean().round(2))  # DataFrame

# print(df.groupby(['d_id']))  # SeriesGroupBy
# print(df.groupby('d_id'))  # DataFrameGroupBy
# print(df.groupby('d_id')['salary'])  # SeriesGroupBy
# print(df.groupby('d_id')[['salary']])  # DataFrameGroupBy

    id name  salary  d_id
0  101   n1   10000    11
1  102   n2    4000    11
2  103   n3    7000    12
3  104   n4   11000    12
4  105   n5    9000    11
5  106   n6    5500    12
{11: [0, 1, 4], 12: [2, 3, 5]}
---------------
    id name  salary  d_id
0  101   n1   10000    11
1  102   n2    4000    11
4  105   n5    9000    11
---------------
d_id
11    23000
12    23500
Name: salary, dtype: int64
---------------
       salary
d_id
11    7666.67
12    7833.33
<pandas.core.groupby.generic.SeriesGroupBy object at 0x00000135C7AFB388>

In [175]:
df.groupby(['d_id']).agg({
    'salary': ['mean', 'sum', 'count'],
    'name': ['count']
})

           salary               name
             mean    sum count count
d_id
11    7666.666667  23000     3     3
12    7833.333333  23500     3     3